includes:
    - vendor/pixidos/coding-standards/src/phpstan.neon
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - ./phpstan-condition-config.php

parameters:
    paths:
        - src
        - tests
    level: max
    inferPrivatePropertyTypeFromConstructor: true
    reportUnmatchedIgnoredErrors: true
