# GitHub Action see https://github.com/shivammathur/setup-php
name: Unit Tests
on: [ push, pull_request ]
jobs:
    unit_tests:
        name: GPWebPay-core (PHP ${{ matrix.php-versions }})
        runs-on: ubuntu-latest
        strategy:
            fail-fast: false
            matrix:
                php-versions: [ '7.2', '7.3', '7.4', '8.0' ]
        steps:
            -   name: Checkout
                uses: actions/checkout@v2
            -   name: Setup PHP, with composer and extensions
                uses: shivammathur/setup-php@v2 #https://github.com/shivammathur/setup-php
                with:
                    php-version: ${{ matrix.php-versions }}
                    extensions: openssl
                    coverage: xdebug #optional
            -   if: "matrix.php <= 7.3"
                run: composer update  --no-progress --ansi --prefer-lowest
            -   if: "matrix.php >= 7.4"
                uses: "ramsey/composer-install@v1"

            -   name: Run Tests
                run: php vendor/bin/phpunit --coverage-clover=coverage.xml

            -   name: Upload Codecov
                uses: "codecov/codecov-action@v1"
                with:
                    files: ./coverage1.xml
